@use 'sim-tokens' as *;

:host {
  display: block;
  height: 100%;
}

.board-container {
  height: 100%;
  position: relative;
}

.sim-board {
  display: grid;
  grid-template-areas:
    '.        .     emz-l   .      emz-r   .      banish'
    'field    m1    m2      m3     m4      m5     gy'
    'ed       st1   st2     st3    st4     st5    deck'
    'controls hand  hand    hand   hand    hand   .';
  grid-template-columns: minmax(60px, 1fr) repeat(5, minmax(70px, 1fr)) minmax(60px, 1fr);
  grid-template-rows: auto 1fr 1fr auto;
  gap: $sim-gap-zone;
  height: 100%;
}
