@use 'variable' as *;
@use 'mixin' as *;

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

// MOSAIC + INFORMATIVE wrapper
.card-wrapper {
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  cursor: pointer;
  position: relative;

  &.INFORMATIVE {
    align-items: center;

    app-card {
      width: 100px;
    }
  }

  &.MOSAIC app-card,
  &.FAVORITE app-card {
    width: 100px;
  }
}

.card-image-container {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}

.ban-badge {
  @include ban-info;
}

.owned-count {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  display: flex;
  justify-content: right;
  align-items: center;
  position: absolute;
  right: 1px;
  bottom: 0;
  font-weight: bold;
  font-size: 0.8em;
  z-index: 1000;
  text-shadow: 0 0 2px #000;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-info {
  margin-left: 5px;
  width: 200px;
  font-size: 0.7em;

  &-icons {
    display: flex;
    align-items: center;

    &-icon {
      display: flex;
      align-items: center;
      margin-right: 5px;

      img {
        height: 16px;
        margin-right: 3px;
      }
    }
  }

  strong {
    font-size: 0.9em;
  }

  div {
    margin-top: 5px;
  }
}

// OWNED mode rows
.owned-row {
  display: flex;
  width: 100%;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  &-quantity {
    width: 120px;
    height: 25px;

    &-plus {
      margin-right: -10px;
    }

    &-minus {
      margin-left: -10px;
    }

    ::ng-deep .mat-mdc-form-field-infix {
      padding-top: 12px !important;
      padding-bottom: 0 !important;
    }

    ::ng-deep .mdc-line-ripple {
      display: none !important;
    }

    ::ng-deep .mat-mdc-form-field-focus-overlay {
      margin-bottom: -10px;
    }

    ::ng-deep .mat-mdc-form-field-flex {
      margin-top: -10px;
    }

    mat-icon {
      background-color: black;
      transform: scale(0.7);
      border-radius: 0;
      border: 0;
      margin-top: -10px;
      cursor: pointer;
    }

    input {
      text-align: center;
    }
  }

  &-code {
    margin-left: 10px;
    width: 15%;
  }

  &-card {
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;

    &-name {
      margin-left: 10px;
    }
  }

  &-rarity {
    width: 25%;
    font-weight: bold;

    &.C {
      color: rgb(197, 197, 197);
    }

    &.R {
      color: rgb(98, 132, 236);
    }

    &.SR {
      color: rgb(255, 235, 121);
    }

    &.GUR {
      color: rgb(201, 142, 15);
    }

    &.UR {
      color: rgb(152, 112, 218);
    }

    &.ScR {
      color: rgb(197, 18, 182);
    }

    &.GR {
      color: red;
    }

    &.PScR {
      color: rgb(25, 194, 96);
    }

    &.UtR {
      color: rgb(172, 40, 40);
    }
  }
}

.owned-card-image {
  width: 33px;
}
