<div
  class="cardsContainer"
  [ngClass]="displayMode()"
  [class.deckBuildMode]="deckBuildMode()"
  cdkDropList
  cdkDropListSortingDisabled
  [cdkDropListData]="{ source: 'search' }"
  (cdkDropListDropped)="onDrop($event)">
  @for (cd of cardsDetails$() | async; track cd.card.id) {
    <div class="card-wrapper" [ngClass]="displayMode()"
         cdkDrag
         appLongPressDrag
         [longPressDragDisabled]="!deckBuildMode()"
         [cdkDragDisabled]="!deckBuildMode()"
         [cdkDragData]="cd"
         (cdkDragStarted)="onDragStart($event)"
         (cdkDragEnded)="onDragEnd()"
         (dblclick)="onDoubleClick(cd, $event)"
         (click)="onCardClick(cd)">
      <div class="card-image-container">
        <app-card [card]="toSharedCardData(cd)" />
        @if (cd.card.banInfo < 3) {
          <div class="ban-badge" [attr.data-ban]="cd.card.banInfo">
            <div>{{ 'card_ban.' + cd.card.banInfo | translate }}</div>
          </div>
        }
        @if (deckBuildMode()) {
          @if (ownedCardService.ownedMap().get(cd.card.id!); as count) {
            @if (count > 0) {
              <div class="owned-count">{{ count }}</div>
            }
          }
        }
      </div>
      @if (displayMode() === displayType.LIST) {
        <div class="card-info">
          <strong>{{ cd.card | cardName }}</strong>
          <div class="card-info-icons">
            @if (cd.card.hasAttributeIcon) {
              <span class="card-info-icons-icon">
                <img [src]="'assets/images/attributes/' + cd.card.attribute + '.svg'" [alt]="'card_attribute.' + cd.card.attribute | translate" width="16" height="16" />{{ 'card_attribute.' + cd.card.attribute | translate }}
              </span>
            }
            <span class="card-info-icons-icon">
              @if (cd.card.isMonster) {
                <img [src]="'assets/images/races/' + cd.card.race + '.webp'" [alt]="'card_race.' + cd.card.race | translate" width="16" height="16" />
              }
              {{ 'card_race.' + cd.card.race | translate }}
            </span>
          </div>
          <div>
            <span>{{ cd.card.displayAtk }}</span>
            @if (cd.card.hasDefense) {
              / <span>{{ cd.card.displayDef }}</span>
            } @else if (cd.card.isLink) {
              / {{ 'card_type.LINK' | translate }} <span>{{ cd.card.linkval }}</span>
            }
          </div>
        </div>
      }
    </div>
  }
  @let svc = searchService();
  @if (!svc?.isLoading() && (cardsDetails$() | async)?.length === 0) {
    <app-empty-state
      titleKey="cardList.emptyMessage"
      ctaLabelKey="cardList.emptyCta"
      (ctaAction)="onEmptyCta()">
    </app-empty-state>
  }
</div>
