.handTest {
  &-header {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
  }

  &-cards {
    display: flex;
    justify-content: center;
    align-items: center;

    .hand-card {
      width: 100px;
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
