<div class="handTest">
  <div class="handTest-header">
    <div class="handTest-header-actions">
      <button mat-flat-button (click)="retry()">Nouvelle main</button>
      <mat-slide-toggle color="primary" [(ngModel)]="goSecond">Aller deuxième</mat-slide-toggle>
    </div>

    <button matSuffix mat-icon-button (click)="close()">
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </div>

  <div class="handTest-cards">
    <card
      [ngClass]="displayMode()"
      *ngFor="let cardDetail of cards()"
      [cardDetail]="cardDetail.card"
      [displayMode]="displayMode()"
      [deckBuildMode]="true"></card>
  </div>
</div>
