.handTest {
  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-actions {
      button {
        margin-right: 1em;
      }
    }


    margin-bottom: 1em;
  }

  &-cards {
    display: flex;
    justify-content: center;
    align-items: center;

    card {
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
