<div class="hand-test">
  <div class="hand-test-header">
    <button type="button" class="btn btn--ghost" (click)="retry()">
      <mat-icon>shuffle</mat-icon>
      <span>{{ 'deckBuilder.handTest.shuffle' | translate }}</span>
    </button>
    <mat-slide-toggle color="primary" [(ngModel)]="goSecond">
      {{ 'deckBuilder.handTest.goSecond' | translate }}
    </mat-slide-toggle>
  </div>

  <div class="hand-test-cards">
    @for (cardDetail of cards(); track cardDetail.id) {
      <app-card class="hand-card" [card]="toCardData(cardDetail)" />
    }
  </div>
</div>
