<div class="searchBar">
  <div class="searchBar-field">
    <mat-form-field class="searchBar-input" appearance="outline">
      <mat-icon matPrefix fontIcon="search"></mat-icon>
      <input matInput [formControl]="form()" placeholder="Entrez un nom..." />
    </mat-form-field>
    @if (form().value) {
      <button mat-icon-button class="searchBar-clear mat-elevation-z0" (click)="clearFormControl()">
        <mat-icon fontIcon="close"></mat-icon>
      </button>
    }
  </div>
  @if ((numberOfActiveFilters$ | async); as numberOfActiveFilters) {
    <button mat-icon-button class="searchBar-clearFilters mat-elevation-z0" (click)="clearFilters()">
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  }
  <button matSuffix mat-icon-button class="searchBar-input-filters mat-elevation-z0" (click)="openFilters()">
    <mat-icon fontIcon="filter_alt"></mat-icon>
    @if ((numberOfActiveFilters$ | async); as numberOfActiveFilters) {
      <div class="searchBar-input-filters-number">{{ numberOfActiveFilters }}</div>
    }
  </button>
</div>
