@use 'variable' as *;
@use 'animation' as *;

.deckBox {
  width: 100%;
  height: 100%;
  min-height: 170px;
  border: 1px solid $white;
  border-radius: 20px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  cursor: pointer;
  position: relative;

  &-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    &:hover &-card:nth-child(1) {
      z-index: 1003;
      animation: fanOut1 0.2s ease-in-out forwards;
    }

    &:hover &-card:nth-child(2) {
      z-index: 1002;
      animation: fanOut2 0.2s ease-in-out forwards;
    }

    &:hover &-card:nth-child(3) {
      z-index: 1001;
      animation: fanOut3 0.2s ease-in-out forwards;
    }

    &-card {
      z-index: 1000;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      width: 75px;
      opacity: 0;
    }
  }

  &:hover {
    border-color: $blue;
  }

  &-image {
    max-width: 150px;
    width: 60%;

    &:hover {
      animation: wiggle 0.5s infinite;
    }
  }

  &-add {
    color: $blue;
    transform: scale(4);

    &:hover {
      animation: reduce 1s infinite;
    }

    @keyframes reduce {
      0% {
        transform: scale(4);
      }

      50% {
        transform: scale(3.5);
      }

      100% {
        transform: scale(4);
      }
    }
  }

  &-name {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}

@keyframes fanOut1 {
  0% {
    opacity: 0.7;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translate(-100%, -60%) rotate(-15deg);
  }
}

@keyframes fanOut2 {
  0% {
    opacity: 0.7;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -70%) rotate(0deg);
  }
}

@keyframes fanOut3 {
  0% {
    opacity: 0.7;
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    opacity: 1;
    transform: translate(0%, -60%) rotate(15deg);
  }
}
