<div class="toggleIconFilter">
  <div class="toggleIconFilter-name">
    {{ inputLabel() }}
  </div>
  <mat-button-toggle-group
    [formControl]="form()"
    hideSingleSelectionIndicator
  >
    <mat-button-toggle *ngFor="let toggleIcon of toggleIcons()" [value]="toggleIcon.value" [title]="toggleIcon.title" (mousedown)="captureValue()" (click)="deselect(toggleIcon.value)">
      <img [src]="toggleIcon.icon" [title]="toggleIcon.title" [alt]="toggleIcon.title" />
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>

