<div class="deckViewer">
  <div class="deckViewer-part">
    <div class="deckViewer-part-header">
      <span>MAIN</span>
      <span class="deckViewer-part-header-count" [class.illegal]="deckBuildService.mainCardNumber() < 40">
        {{ deckBuildService.mainCardNumber() }}
      </span>
    </div>
    <deck-card-zone
      [cardDetails]="deckBuildService.deck().mainDeck"
      [deckZone]="deckZone.MAIN"
      (cardClicked)="cardClicked.emit($event)"></deck-card-zone>
  </div>
  <div class="deckViewer-part extra">
    <div class="deckViewer-part-header">
      <span>EXTRA</span>
      <span class="deckViewer-part-header-count">
        {{ deckBuildService.extraCardNumber() }}
      </span>
    </div>
    <deck-card-zone
      [cardDetails]="deckBuildService.deck().extraDeck"
      [deckZone]="deckZone.EXTRA"
      [slotNumber]="15"
      (cardClicked)="cardClicked.emit($event)"></deck-card-zone>
  </div>
  <div class="deckViewer-part side">
    <div class="deckViewer-part-header">
      <span>SIDE</span>
      <span class="deckViewer-part-header-count">
        {{ deckBuildService.sideCardNumber() }}
      </span>
    </div>
    <deck-card-zone
      [cardDetails]="deckBuildService.deck().sideDeck"
      [deckZone]="deckZone.SIDE"
      [slotNumber]="15"
      (cardClicked)="cardClicked.emit($event)"></deck-card-zone>
  </div>
</div>
