<div class="deckViewer">
  <div class="deckViewer-part">
    <div class="deckViewer-part-cardNumber" [class.illegal]="deckBuildService.mainCardNumber() < 40">
      {{ deckBuildService.mainCardNumber() }}
    </div>
    <div class="deckViewer-part-label">
      <div>MAIN</div>
    </div>
    <deck-card-zone
      [cardDetails]="deckBuildService.deck().mainDeck"
      [deckZone]="deckZone.MAIN"
      (cardClicked)="cardClicked.emit($event)"></deck-card-zone>
  </div>
  <div class="deckViewer-part extra">
    <div class="deckViewer-part-cardNumber">
      {{ deckBuildService.extraCardNumber() }}
    </div>
    <div class="deckViewer-part-label">
      <div>EXTRA</div>
    </div>
    <deck-card-zone
      [cardDetails]="deckBuildService.deck().extraDeck"
      [deckZone]="deckZone.EXTRA"
      [slotNumber]="15"
      (cardClicked)="cardClicked.emit($event)"></deck-card-zone>
  </div>
  <div class="deckViewer-part side">
    <div class="deckViewer-part-cardNumber">
      {{ deckBuildService.sideCardNumber() }}
    </div>
    <div class="deckViewer-part-label">
      <div>SIDE</div>
    </div>
    <deck-card-zone
      [cardDetails]="deckBuildService.deck().sideDeck"
      [deckZone]="deckZone.SIDE"
      [slotNumber]="15"
      (cardClicked)="cardClicked.emit($event)"></deck-card-zone>
  </div>
</div>
