@use 'variable' as *;

.deckViewer {
  ::ng-deep .cdk-drop-list-dragging {
    filter: brightness(85%) !important;
  }

  .cdk-drag-placeholder {
    display: none;
  }

  &-part {
    margin-top: 1em;
    background-color: #ff8800;
    width: calc($DECK_CARD_WIDTH * 10);
    border: 1px solid $white;
    border-radius: 4px;
    position: relative;

    &-header {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 0.25em 0.5em;
      font-weight: bold;
      font-size: 0.85em;

      &-count {
        margin-left: auto;
        background: $green;
        color: $white;
        border-radius: 4px;
        padding: 0 0.4em;
        font-size: 0.9em;

        &.illegal {
          background: $red;
        }
      }
    }

    &.extra {
      background-color: rgb(0, 0, 0);
    }

    &.side {
      background-color: rgb(141, 141, 141);
    }
  }
}
