@use 'variable' as *;

.deckViewer {
  ::ng-deep .cdk-drop-list-dragging {
    filter: brightness(85%) !important;
  }

  .cdk-drag-placeholder {
    display: none;
  }

  &-part {
    margin-top: 1em;
    width: 100%;

    &:first-child {
      margin-top: 0;
    }

    &-header {
      display: flex;
      align-items: center;
      gap: 0.5em;
      padding: 0.25em 0.5em;
      font-weight: bold;
      font-size: 0.85em;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 2px;

      &-count {
        margin-left: auto;
        background: $green;
        color: $white;
        border-radius: 4px;
        padding: 0 0.4em;
        font-size: 0.9em;

        &.illegal {
          background: $red;
        }
      }
    }
  }
}
