@use 'variable' as *;

.deckViewer {
  ::ng-deep .cdk-drop-list-dragging {
    filter: brightness(85%) !important;
  }

  .cdk-drag-placeholder {
    display: none;
  }

  &-part {
    display: flex;
    align-items: center;
    margin-top: 1em;
    background-color: #ff8800;
    width: calc($DECK_CARD_WIDTH * 10 + 12px * 10 + 40px);
    border: 1px solid $white;
    border-radius: 4px;
    position: relative;

    &-cardNumber {
      position: absolute;
      top: -15px;
      right: -15px;
      background: $green;
      color: $white;
      border: 1px solid $white;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
      font-weight: bold;

      &.illegal {
        background: $red;
      }
    }

    &.extra {
      background-color: rgb(0, 0, 0);
    }

    &.side {
      background-color: rgb(141, 141, 141);
    }

    &-label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;

      div {
        transform: rotate(-90deg);
        font-weight: bold;
      }
    }
  }
}
