@use 'responsive' as r;
@use 'variable' as *;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.favorite-toggle {
  color: $white;
  margin-top: 1rem;
  @include r.touch-target-min;
}
