<div class="deckBuilder" cdkDropListGroup>
  <div class="deckBuilder-viewer">
    <deck-viewer></deck-viewer>
    <div class="deckBuilder-viewer-hand" [class.opened]="handTestOpened()">
      <app-hand-test *ngIf="handTestOpened()"></app-hand-test>
    </div>
  </div>
  <div class="deckBuilder-side">
    <div>
      <div class="deckBuilder-side-tools">
        <mat-form-field class="deckBuilder-side-tools-deckName">
          <input matInput placeholder="Nom du deck..." [(ngModel)]="deckBuildService.deck().name" />
        </mat-form-field>
        <div class="deckBuilder-side-tools-buttons">
          <button mat-icon-button class="mat-elevation-z0" [disabled]="deckBuildService.deckEmpty()" [title]="'Sauvegarder'" (click)="save()">
            <mat-icon class="deckBuilder-side-tools-buttons-save">save</mat-icon>
          </button>
          <button
            mat-icon-button
            class="mat-elevation-z0"
            [disabled]="deckBuildService.deckEmpty()"
            [title]="'Générer les proxies'"
            (click)="createProxies()">
            <mat-icon class="deckBuilder-side-tools-buttons-save">print</mat-icon>
          </button>
          <app-multiple-action-button icon="cloud_download" [buttons]="exportButtons"></app-multiple-action-button>
          <button
            mat-icon-button
            class="mat-elevation-z0"
            [title]="'Importer la decklist'"
            (click)="openImportFile()">
            <mat-icon class="deckBuilder-side-tools-buttons-save">cloud_upload</mat-icon>
          </button>
          <input id="importDeckInput" hidden type="file" #importInput (change)="import()" />
          <button mat-icon-button class="mat-elevation-z0" [title]="'Tester une main'" (click)="toggleTestHand()">
            <mat-icon class="deckBuilder-side-tools-buttons-hand">
              <img src="assets/images/icons/hand_cards.svg" alt="" />
            </mat-icon>
          </button>
        </div>
      </div>

      <div class="deckBuilder-side-images">
        <h4>Images en cover :</h4>
        <div class="deckBuilder-side-images-slots">
          <deck-card-zone
            [cardDetails]="deckBuildService.deck().images"
            [size]="size"
            [slotNumber]="3"></deck-card-zone>
        </div>
      </div>
    </div>
    <div class="deckBuilder-side-searcher">
      <app-card-searcher [deckBuildMode]="true" [searchService]="deckBuildService"></app-card-searcher>
    </div>
    <div class="deckBuilder-side-filters" [class.opened]="filtersOpened()">
      <app-card-filters [searchService]="deckBuildService" [filtersOpened]="filtersOpened()" (close)="closeFilters()"></app-card-filters>
    </div>
  </div>
</div>
