<div class="grid">
  @if (!deckZone()) {
    <div class="grid-list background">
      @for (slot of [].constructor(slotNumber()); track i; let i = $index) {
        {{ slot }}
        <div class="grid-list-slot grid" [ngClass]="deckZone()"></div>
      }
    </div>
  }
  <div class="grid-list"
    [class.element]="!deckZone()"
    [class.empty]="isEmpty()"
    [ngClass]="deckZone() + staticDeckZone.LOCK"
    cdkDropList
    cdkDropListOrientation="mixed"
    [id]="deckZone() || staticDeckZone.OTHER"
    (cdkDropListDropped)="drop($event)">
    @for (cardDetail of cardDetails(); track cardDetail.id + i; let i = $index) {
      <div
        class="grid-list-slot card"
        [ngClass]="deckZone()"
        cdkDrag
        [cdkDragDisabled]="!cardDetail.card.card.id"
        [cdkDragData]="cardDetail"
        [cdkDragBoundary]="'.' + deckZone() + staticDeckZone.LOCK"
        (contextmenu)="onRightClick($event, deckZone(), i)">
        @if (cardDetail.card.card.id) {
          <app-card
            [card]="toSharedCardData(cardDetail.card)"
            (click)="onCardClick(cardDetail.card)">
          </app-card>
        }
      </div>
    }
  </div>
</div>
