<div class="empty-state" [ngClass]="variantClass()">
  @if (icon()) {
    <mat-icon class="empty-state__icon">{{ icon() }}</mat-icon>
  }
  <p class="empty-state__title">{{ titleKey() | translate }}</p>
  @if (descKey()) {
    <p class="empty-state__desc">{{ descKey()! | translate }}</p>
  }
  @if (ctaLink() && ctaLabelKey() && !ctaDisabled()) {
    <app-button [variant]="ctaVariant()" [size]="ctaSize()" [cta]="isPrimaryCta()" [link]="ctaLink()!">
      @if (ctaIcon()) {
        <mat-icon>{{ ctaIcon() }}</mat-icon>
      }
      {{ ctaLabelKey()! | translate }}
    </app-button>
  } @else if (ctaLabelKey()) {
    <app-button
      [variant]="ctaVariant()" [size]="ctaSize()" [cta]="isPrimaryCta()"
      [disabled]="ctaDisabled()" (click)="ctaAction.emit()">
      @if (ctaIcon()) {
        <mat-icon>{{ ctaIcon() }}</mat-icon>
      }
      {{ ctaLabelKey()! | translate }}
    </app-button>
  }
</div>
