@if (searchService()) {
  <div class="cardFilters">
    <div class="cardFilters-filter">
      <app-multiselect-autocomplete-filter
        [form]="localForm.controls.types"
        [inputLabel]="'cardFilters.cardType'"
        [options$]="types | stringArrayToShortResourceArray : 'card_type.' | toObservable">
      </app-multiselect-autocomplete-filter>
    </div>
    <div class="cardFilters-row">
      <div class="cardFilters-filter">
        <app-between-filter
          [minForm]="localForm.controls.minAtk"
          [maxForm]="localForm.controls.maxAtk"
          [inputLabel]="'ATK'">
        </app-between-filter>
      </div>
      <div class="cardFilters-filter">
        <app-between-filter
          [minForm]="localForm.controls.minDef"
          [maxForm]="localForm.controls.maxDef"
          [inputLabel]="'DEF'">
        </app-between-filter>
      </div>
    </div>
    <div class="cardFilters-filter">
      <app-toggle-icon-filter
        [form]="localForm.controls.attribute" [toggleIcons]="toggleIcons"
        [inputLabel]="'cardFilters.attribute'">
      </app-toggle-icon-filter>
    </div>
    <div class="cardFilters-filter">
      <app-card-set-search-filter [form]="localForm.controls.cardSetFilter">
      </app-card-set-search-filter>
    </div>
  </div>
}
