.cardFilters {
  padding-top: 1em;
  padding-bottom: 1em;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }

  &-filter {
    margin-top: 1em;
  }

  &-buttons {
    display: flex;
    gap: 0.5em;
    margin-top: 1.5em;

    button:first-child {
      flex: 1;
    }

    mat-icon {
      margin-right: 0;
    }
  }
}

