@use 'responsive' as r;

:host {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.cardFilters {
  padding-top: 1em;
  padding-bottom: 1em;

  @include r.mobile-portrait {
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    --mat-form-field-container-height: 48px;
  }

  &-filter {
    margin-top: 1em;

    @include r.mobile-portrait {
      margin-top: 0.5em;
    }
  }

  &-buttons {
    display: flex;
    gap: 0.5em;
    margin-top: 1.5em;

    @include r.mobile-portrait {
      margin-top: 0.75em;
    }

    button:first-child {
      flex: 1;
    }

    mat-icon {
      margin-right: 0;
    }
  }
}

