@use 'responsive' as r;

:host {
  display: block;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}

.cardFilters {
  padding: 1em;

  @include r.mobile-portrait {
    padding: 0.5em;

    --mat-form-field-container-height: 48px;
  }

  &-row {
    display: flex;
    gap: 1em;

    > .cardFilters-filter {
      flex: 1;
      min-width: 0;
    }
  }

  &-filter {
    margin-top: 1em;

    @include r.mobile-portrait {
      margin-top: 0.5em;
    }
  }
}

