@if (form && displayMode) {
  <div class="cardSearchPage" [class.deckBuildMode]="deckBuildMode()" [class.has-filters-open]="filtersOpen()">
    <div class="cardSearchPage-searcher">
      <div class="cardSearchPage-searcher-bar">
        <search-bar [form]="form.controls.name" [deckBuildMode]="deckBuildMode()"></search-bar>
        @if (!deckBuildMode()) {
          <button mat-icon-button class="cardSearchPage-searcher-bar-filterToggle"
            (click)="toggleFilters()"
            aria-label="Filtres"
            [attr.aria-expanded]="filtersOpen()">
            <mat-icon>tune</mat-icon>
          </button>
        }
        <div class="cardSearchPage-searcher-bar-displayMode">
          <mat-button-toggle-group
            hideSingleSelectionIndicator
            class="cardSearchPage-searcher-displayMode"
            (change)="setDisplayMode($event.source.value)">
            <mat-button-toggle [value]="displayType.INFORMATIVE" [checked]="displayMode() === displayType.INFORMATIVE">
              <mat-icon>view_headline</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="displayType.MOSAIC" [checked]="displayMode() === displayType.MOSAIC">
              <mat-icon>view_module</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="displayType.OWNED" [checked]="displayMode() === displayType.OWNED">
              <mat-icon>store</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="displayType.FAVORITE" [checked]="displayMode() === displayType.FAVORITE">
              <mat-icon>star</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="cardSearchPage-searcher-result">
        <card-list
          [displayMode]="displayMode()"
          [searchService]="searchService()"
          [deckBuildMode]="deckBuildMode()"
          (cardClicked)="cardClicked.emit($event)">
        </card-list>
      </div>
    </div>
    @if (!deckBuildMode()) {
      <div class="cardSearchPage-filters" [class.filters-open]="filtersOpen()">
        <app-card-filters [searchService]="searchService()"></app-card-filters>
      </div>
    }
  </div>
}
