@use 'variable' as *;
@use 'responsive' as r;

.cardSearchPage {
  display: flex;
  width: 100%;
  height: 100%;

  &.deckBuildMode {
    .cardSearchPage-searcher {
      width: 100%;
    }

    .cardSearchPage-searcher-bar {
      margin: 1em;
    }
  }

  &-searcher {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    transition: none;

    &-bar {
      margin: 1.5rem 1rem 0.5rem 1rem;

      @include r.respond-above(r.$bp-tablet) {
        margin: 4rem 2rem 1rem 2rem;
      }

      &-displayMode {
        margin-bottom: 0.5em;

        mat-button-toggle-group {
          border-radius: 0;
          border: 0;
        }

        mat-button-toggle {
          mat-icon {
            transform: scale(0.8);
          }
        }

        .mat-button-toggle-checked {
          background-color: $blue;
        }

        ::ng-deep .mat-button-toggle-label-content {
          padding: 0 !important;
          line-height: 0 !important;
        }

        mat-icon {
          transform: scale(0.8);
        }
      }
    }

    &-result {
      padding: 0 1rem;
      height: 100%;
      overflow: auto;

      @include r.respond-above(r.$bp-tablet) {
        padding: 0 0 0 2rem;
      }
    }
  }

  &.has-filters-open {
    .cardSearchPage-searcher {
      width: calc(100% - 300px);
    }
  }

  &-filters {
    padding: 0 1em;
    width: 300px;
    background-color: black;
    height: 100%;
    display: none;

    &.filters-open {
      display: block;
    }
  }
}
