@if (form && displayMode && favoriteFilter) {
  <div class="cardSearchPage" [class.deckBuildMode]="deckBuildMode()">
    <div class="cardSearchPage-searcher" [class.filters-expanded]="filtersOpen()">
      <div class="cardSearchPage-searcher-bar">
        <search-bar [form]="form.controls.name" [searchService]="searchService()" (filterToggled)="toggleFilters()"></search-bar>
        <div class="cardSearchPage-searcher-bar-displayMode">
          <mat-button-toggle-group
            hideSingleSelectionIndicator
            (change)="setDisplayMode($event.source.value)">
            <mat-button-toggle [value]="displayType.GRID" [checked]="displayMode() === displayType.GRID" matTooltip="Grille" aria-label="Grille">
              <mat-icon>view_module</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle [value]="displayType.LIST" [checked]="displayMode() === displayType.LIST" matTooltip="Liste" aria-label="Liste">
              <mat-icon>view_headline</mat-icon>
            </mat-button-toggle>
          </mat-button-toggle-group>

          <button mat-icon-button
            class="favorite-toggle"
            [class.active]="favoriteFilter()"
            (click)="toggleFavoriteFilter()"
            matTooltip="Favoris" aria-label="Favoris">
            <mat-icon>{{ favoriteFilter() ? 'star' : 'star_border' }}</mat-icon>
          </button>
        </div>
      </div>
      <div class="cardSearchPage-searcher-filters">
        <app-card-filters [searchService]="searchService()"></app-card-filters>
      </div>
      <div class="cardSearchPage-searcher-result">
        <card-list
          [displayMode]="displayMode()"
          [searchService]="searchService()"
          [deckBuildMode]="deckBuildMode()"
          (cardClicked)="cardClicked.emit($event)">
        </card-list>
      </div>
    </div>
  </div>
}
