@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@include mat.elevation-classes();
@include mat.app-background();
@import 'variable';

$mat-theme-primary-palette: map-merge(
    mat.$m2-cyan-palette,
    (
      contrast: (
        100: #150c4a,
      ),
    )
);
$mat-theme-primary: mat.m2-define-palette(
    $mat-theme-primary-palette,
  $default: 100,
  $lighter: 100,
  $darker: 700,
  $text: 500
);

$mat-theme-accent-palette: map-merge(
    mat.$m2-teal-palette,
    (
      501: #4d77b6,
      contrast: (
        501: white,
        A100: white,
        A200: white,
      ),
    )
);
$mat-theme-accent: mat.m2-define-palette(
    $mat-theme-accent-palette,
  $default: 501,
  $lighter: A100,
  $darker: A200,
  $text: 600
);

$mat-theme-warn-palette: map-merge(mat.$m2-pink-palette, ());
$mat-theme-warn: mat.m2-define-palette(
    $mat-theme-warn-palette,
  $default: A200,
  $lighter: 500,
  $darker: 500,
  $text: A700
);

$mat-dark-theme-primary-palette: map-merge(
    mat.$m2-light-blue-palette,
    (
      contrast: (
        200: #030844,
        A100: rgba(0, 0, 0, 0.87),
        A700: rgba(0, 0, 0, 0.87),
      ),
    )
);
$mat-dark-theme-primary: mat.m2-define-palette(
    $mat-dark-theme-primary-palette,
  $default: 200,
  $lighter: A100,
  $darker: A700,
  $text: 700
);

$mat-dark-theme-accent-palette: map-merge(
    mat.$m2-green-palette,
    (
      contrast: (
        A200: black,
        50: black,
        A400: black,
      ),
    )
);
$mat-dark-theme-accent: mat.m2-define-palette(
    $mat-dark-theme-accent-palette,
  $default: A200,
  $lighter: 50,
  $darker: A400,
  $text: A100
);

$mat-dark-theme-warn-palette: map-merge(
    mat.$m2-pink-palette,
    (
      701: #bb2468,
      contrast: (
        A100: black,
        100: white,
      ),
    )
);
$mat-dark-theme-warn: mat.m2-define-palette(
    $mat-dark-theme-warn-palette,
  $default: A100,
  $lighter: 100,
  $darker: 701,
  $text: 100
);

$primary: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$accent: mat.m2-define-palette(mat.$m2-blue-grey-palette);
$warn: mat.m2-define-palette(mat.$m2-blue-grey-palette);

$light-theme: mat.m2-define-light-theme(
    (
      color: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
      ),
    )
);

$mat-typography: (
  display-4: mat.m2-define-typography-level(112px, 112px, 300, 'Roboto', -0.0134em),
  display-3: mat.m2-define-typography-level(56px, 56px, 400, 'Roboto', -0.0089em),
  display-2: mat.m2-define-typography-level(45px, 48px, 400, 'Roboto', 0em),
  display-1: mat.m2-define-typography-level(34px, 40px, 400, 'Roboto', 0.0074em),
  headline: mat.m2-define-typography-level(24px, 32px, 400, 'Roboto', 0em),
  title: mat.m2-define-typography-level(20px, 32px, 500, 'Roboto', 0.0075em),
  subheading-2: mat.m2-define-typography-level(16px, 28px, 400, 'Roboto', 0.0094em),
  subheading-1: mat.m2-define-typography-level(15px, 24px, 500, 'Roboto', 0.0067em),
  body-2: mat.m2-define-typography-level(14px, 24px, 500, 'Roboto', 0.0179em),
  body-1: mat.m2-define-typography-level(14px, 20px, 400, 'Roboto', 0.0179em),
  button: mat.m2-define-typography-level(14px, 14px, 500, 'Roboto', 0.0893em),
  caption: mat.m2-define-typography-level(12px, 20px, 400, 'Roboto', 0.0333em),
  input: mat.m2-define-typography-level(inherit, 1.125, 400, 'Roboto', 1.5px),
);

$mat-density: 0;
// @include mat.elevation(
//   $zValue: 12,
//   $color: #000,
//   $opacity: 0.5
// );

$mat-core-theme: mat.m2-define-light-theme(
    (
      color: (
        primary: $mat-theme-primary,
        accent: $mat-theme-accent,
        warn: $mat-theme-warn,
      ),
      typography: $mat-typography,
      density: $mat-density,
    )
);

$mat-dark-theme: mat.m2-define-dark-theme(
    (
      color: (
        primary: $mat-dark-theme-primary,
        accent: $mat-dark-theme-accent,
        warn: $mat-dark-theme-warn,
      ),
    )
);

@include mat.all-component-themes($mat-core-theme);

.dark-theme,
.cdk-overlay-container {
  @include mat.all-component-colors($mat-dark-theme);
}

div.mat-mdc-autocomplete-panel {
  --mat-minimal-pseudo-checkbox-selected-checkmark-color: #000000;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: #000000 !important;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
