$black: #303030;
$red: #a30000;
$purple: #6d005b;
$orange: #ffac4d;
$green: #00b451;
$unselected-black: #1f14142f;
$white: #fff;
$blue: #93dafa;
$grey: #a0a0a0;
$yellow: #FFDF00;

$DECK_CARD_HEIGHT: 100px;
$DECK_CARD_WIDTH: 75px;
