@import '../../../../../../styles/variable';

.grid {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-content: flex-start;
  justify-content: flex-start;

  &-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;

    &.element {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &-slot {
      border: transparent solid 1px;

      &.card {
        position: relative;
      }

      &.remove {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: red;
        width: 15px;
        height: 15px;
        cursor: pointer;
      }

      &.grid {
        position: relative;
        border: $white solid 1px;
        background-color: rgba(255, 255, 255, 0.3);
      }

      padding: 5px;
      height: $PLAYGROUND_CARD_HEIGHT;
      width: $PLAYGROUND_CARD_WIDTH;
    }
  }
}
