<div class="grid" *ngIf="cardDetails">
  <div class="grid-list">
    @for (slot of [].constructor(slotNumber()); track i; let i = $index) {
      {{ slot }}
      <div class="grid-list-slot grid" [ngClass]="zone()"></div>
    }
  </div>
  <div class="grid-list element" [ngClass]="zone()">
    @for (cardDetail of cardDetails(); track cardDetail.id + i; let i = $index) {
      <div
        class="grid-list-slot card"
        [ngClass]="zone()"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        cdkDropListOrientation="horizontal"
        [cdkDropListData]="{ item: cardDetail, index: i }"
        [id]="zone() + ''">
        <card
          cdkDrag
          [cardDetail]="cardDetail.card"
          [displayMode]="displayMode"
          [size]="size()"
          [cropped]="false"
          [cdkDragData]="{card : cardDetail.card, source: {zone: zone(), index: i}}"
          (contextmenu)="onRightClick($event, zone(), i)">
        </card>
      </div>
    }
  </div>
</div>
