@import 'styles/variable';

:host {
  --mobile-header-height: 48px;
}

.dark-theme {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  &-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;

    &.full {
      width: 100%;
    }
  }

  &-tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1005;
  }

  &.mobile-mode {
    .dark-theme-content {
      padding-top: var(--mobile-header-height);
    }
  }
}
