@import 'styles/variable';

.dark-theme {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  &-content {
    flex: 1;
    overflow: hidden;

    &.full {
      width: 100%;
    }
  }

  &-tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1005;
  }
}
