:host {
  --mobile-header-height: 48px;
}

.dark-theme {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: hidden;

  &-content {
    flex: 1;
    overflow: auto;

    &.full {
      width: 100%;
    }
  }

  &.mobile-mode {
    .dark-theme-content {
      padding-top: var(--mobile-header-height);
    }
  }
}
