<div class="card"
     [class.def-position]="isDefPosition()"
     (click)="clicked.emit()">
  @if (faceDown()) {
    <img src="assets/images/card_back.jpg" alt="Card back" class="card-image">
  } @else {
    <img [src]="card().imageUrl"
         [alt]="card().name"
         (error)="$any($event.target).src='assets/images/card_back.jpg'"
         class="card-image">
  }
</div>

@if (showOverlayMaterials() && materialPeekSlots().length > 0) {
  <div class="material-peek-borders">
    @for (material of materialPeekSlots(); track $index) {
      <div class="material-border"
           [style.bottom.px]="-(($index + 1) * 3)"
           [style.left.px]="($index + 1) * 1">
      </div>
    }
  </div>
}
