@import '../styles/variable';

.bl {
  margin: 1em;
}

.test {
  width: 80%;

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: black;
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
    caret-color: black;
  }

  ::ng-deep .mdc-text-field--filled {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .mat-icon {
    color: black;
  }

  /* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
  .mat-icon svg {
    fill: black;
  }

  button {
    margin-right: 1em;
    box-shadow: none;
  }
}
