<div class="betweenFilter">
  <div class="betweenFilter-name">{{ inputLabel() | translate }}</div>
  <div class="range-row">
    <input
      type="number"
      [formControl]="minForm()"
      [placeholder]="'cardFilters.min' | translate"
      [attr.aria-label]="(inputLabel() | translate) + ' ' + ('cardFilters.min' | translate)" />
    <span class="range-row__sep" aria-hidden="true">–</span>
    <input
      type="number"
      [formControl]="maxForm()"
      [placeholder]="'cardFilters.max' | translate"
      [attr.aria-label]="(inputLabel() | translate) + ' ' + ('cardFilters.max' | translate)" />
  </div>
</div>
