@use 'responsive' as *;
@use 'variable' as *;

.deckPage {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;

  @include respond-above($bp-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-above($bp-desktop-sm) {
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  }

  &-deck {
    position: relative;
    display: flex;

    &-remove {
      position: absolute;
      top: 4px;
      right: 4px;
      background-color: $red;
      border: 1px solid $white;
      padding: 8px;
      z-index: 1010;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include touch-target-min;
    }
  }
}
